.gothic-style {
    background: rgb(153, 153, 153);
}
.gothic-style > .top-panel {
    background: rgb(50, 5, 92);
    border-radius: 15px;
}
.gothic-style .numbers > p {
    color: rgba(152, 53, 245, 0.534);
}
.gothic-style #current-number, .gothic-style #current-sekund {
    color: white;
}
.gothic-style .central-button-container > button {
    background: rgba(152, 53, 245);
    color: white;
}
.gothic-style .central-button-container > button:hover {
    background: rgb(40, 139, 129);
    color: rgb(0, 0, 0);
}
.gothic-style td {
    border: none;
    background: rgb(52, 0, 100);
    border-radius: 7px;
    color: white;
}
.gothic-style td:hover {
    background: rgb(40, 139, 129);
    border: 1px solid white;
}
.gothic-empty-cell {
    background: rgb(184, 184, 184);
}